type file
id <%=${PLASTER_PARAM_project_name}%>
version <%=${PLASTER_PARAM_version}%>
authors <%=${PLASTER_PARAM_full_name}%>
description
    <%=${PLASTER_PARAM_project_short_description}%>
files
    <%=${PLASTER_PARAM_project_name}%>.psd1 ==> .
    DSCResources ==> DSCResources
//dependencies
//    xPSDesiredStateConfiguration == LOCKEDVERSION
